<fieldset>
    <legend>language Known</legend>
    <table>
        <tr>
            <td><input type="text" name="lid" id="lidhindi" hidden></td>
            <td><input type="checkbox" name="language[]" id="hindi" value="hindi" class="lang"></td>
            <td><label for="hindi">Hindi</label></td>
            <td><input type="checkbox" name="read[]" disabled id="read_h"  value="1" class="rwsh"></td>
            <td><label for="read_h">read</label></td>
            <td><input type="checkbox" name="write[]" disabled id="write_h" value="1" class="rwsh"></td>
            <td><label for="write_h">write</label></td>
            <td><input type="checkbox" name="speak[]" disabled id="speak_h" value="1" class="rwsh"></td>
            <td><label for="speak_h">speak</label></td>
            <td><span id="notCheckSpan"></span></td>
        </tr>
        
        <tr>
            <td><input type="text" name="lid" id="lidenglish" hidden></td>
            <td><input type="checkbox" name="language[]"   id="english" value="english" class="lang"></td>
            <td><label for="english">English</label></td>
            <td><input type="checkbox" name="read[]" disabled id="read_e"  value="1" class="rwse"></td>
            <td><label for="read_e">read</label></td>
            <td><input type="checkbox" name="write[]" disabled id="write_e" value="1" class="rwse"></td>
            <td><label for="write_e">write</label></td>
            <td><input type="checkbox" name="speak[]" disabled id="speak_e" value="1" class="rwse"></td>
            <td><label for="speak_e">speak</label></td>
            <td><span id="notCheckSpan"></span></td>
        </tr> 

        <tr>
            <td><input type="text" name="lid" id="lidgujarati" hidden></td>
            <td><input type="checkbox" name="language[]"  id="gujarati" value="gujarati" class="lang"></td>
            <td><label for="gujarati">Gujarati</label></td>
            <td><input type="checkbox" name="read[]" disabled id="read_g"  value="1" class="rwsg"></td>
            <td><label for="read_g">read</label></td>
            <td><input type="checkbox" name="write[]" disabled id="write_g" value="1" class="rwsg"></td>
            <td><label for="write_g">write</label></td>
            <td><input type="checkbox" name="speak[]" disabled id="speak_g" value="1" class="rwsg"></td>
            <td><label for="speak_g">speak</label></td>
            <td><span id="notCheckSpan"></span></td>
        </tr> 
    </table>
</fieldset>

<script>
    
</script>