<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Password</title>
</head>
<style>
    #loginform{
        background-color: rgb(254, 232, 255);
        border: 2px solid #421515;
        padding: 40px;
    }
    #btn{
        display: flex;
        margin: 0 auto;
        width: 150px;
    }
    #submit{
        background-color: blue;
        color:white;
        font-size: large;
        font-weight: bolder;
        padding: 6px;
        margin: 3px;
        border-radius: 6px;
    }
    #singin{
        background-color: green;
        font-size: large;
        font-weight: bolder;
        padding: 6px;
        margin: 3px;
        border-radius: 6px;
    }
    #singin a{
        text-decoration: none;      
        color:white;   
    }
</style>
<body>
    <center>
    <div id="loginform">
        <form method="post">
            <h1>Create Password Page</h1>
            <table id="passwordTable">
                <tr>
                    <td><label for="cPassword">Create Password</label></td>
                    <td><input type="password" name="cPassword" id="cPassword"></td>
                </tr>
                <tr>
                    <td><label for="rPassword">Repeat Password</label></td>
                    <td><input type="password" name="rPassword" id="rPassword"></td>
                </tr>
            </table>
            <div id="btn">
                <p id="submit">Set Password</p>
            </div>
            <p id="message" hidden></p>
        </form>
    </div>

    </center>
</body>
</html>
<script>
    const submit = document.getElementById("submit");
    submit.addEventListener("click", setPassword);

    const message = document.getElementById("message");


    function objCreation(){
        let formEntries = new FormData(document.querySelector("form"));
        const fullUrl = window.location.href;
        const alink = fullUrl.split("/:")[1];
        const obj = {}
        obj["alink"] = alink;
        formEntries.forEach((values, keys)=>{
            if(obj[keys] != undefined){
                obj[keys] += `,${values}`;
            } else {
                obj[keys] = values;
            }
        });
        sendReadyObj = obj;
        return obj;
    }

    async function setPassword(){

        try{
            const response = await fetch(`http://localhost:8080/loginpass`, {
                method:"POST",
                body: JSON.stringify(objCreation()),
                headers : {
                    'Content-Type': 'application/json'
                }
            })
            
            const datas = await response.json();
            if(response.status == 500) {
                message.innerHTML = datas.message;                
                message.hidden = false;
            }

            if(response.status == 501) {
                message.innerHTML = datas.message;
                message.hidden = false;
            }

            if(response.status == 200) {
                message.hidden = true;
                window.location = "http://localhost:8080/login"
            }

        } catch (error) {
            console.log(error);
        }

    }  
</script>

