<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Logged in</p>
    <div id="dynamic" class="menus">
        <!-- <p>Dynamic Tables</p> -->
        <p><a href="http://localhost:8080/dynamic">Dynamic Table</a></p>
    </div>
    <div id="dynamic" class="menus">
        <!-- <p>Events Table Tables</p> -->
        <p><a href="http://localhost:8080/events">Events Table</a></p>
    </div>
    <div id="dynamic" class="menus">
        <!-- <p>Events Table Tables</p> -->
        <p><a href="http://localhost:8080/kukucube">KUKU Cube</a></p>
    </div>
    <div id="dynamic" class="menus">
        <!-- <p>Events Table Tables</p> -->
        <p><a href="http://localhost:8080/tickTacToe">Tick-Tack-Toe</a></p>
    </div>
    <div id="dynamic" class="menus">
        <!-- <p>Events Table Tables</p> -->
        <p><a href="http://localhost:8080/delimetersearch">Delimeter Search</a></p>
    </div>
</body>
</html>