<fieldset>
    <legend>Referance Contact</legend>
    <table>
        <tr>
            <td><input type="text"  id="rid1" class="references" name="rid" hidden></td>
            <td><label for="name"> Name </label></td>
            <td><input type="text"  id="name" class="references ref" name="rname[]"></td>
            <td><label for="contact_no"> Contact Number </label></td>
            <td><input type="text" id="phone2" class="references ref" name="rcontact[]"></td>
            <td><label for="relation1"> Relation </label></td>
            <td><input type="text" id="relation1" class="references ref" name="rrelation[]"></td>
        </tr>

        <tr>
            <td><input type="text"  id="rid2" class="references" name="rid" hidden></td>
            <td><label for="name2"> Name </label></td>
            <td><input type="text"  id="name2" class="references ref" name="rname[]"></td>
            <td><label for="contact_no2"> Contact Number </label></td>
            <td><input type="text" id="phone3" id="contact_no2" class="references ref" name="rcontact[]"></td>
            <td><label for="relation2"> Relation </label></td>
            <td><input type="text" id="relation2" class="references ref" name="rrelation[]"></td>
        </tr>
    </table>
</fieldset>