<fieldset>
    <legend>Technologies Know</legend>
    <table>
        <tr>
            <td><input type="text" name="tid" id="tidphp" hidden></td>
            <td><input type="checkbox" name="technologies[]" value="php"  id="php"></td>
            <td><label for="php">PHP</label></td>
            <td><input type="radio" name="php" disabled  class="bmephp"  id="begginer_php" value="begginer"></td>
            <td><label for="begginer_php">Begginer</label></td>
            <td><input type="radio" name="php" disabled class="bmephp" id="mideator_php" value="mediator"></td>
            <td><label for="mideator_php">Mideator</label></td>
            <td><input type="radio" name="php" disabled class="bmephp"  id="expert_php" value="expert"></td>
            <td><label for="expert_php">Expert</label></td>
        </tr>

        <tr>
            <td><input type="text" name="tid" id="tidpy" hidden ></td>
            <td><input type="checkbox" name="technologies[]" value="python"  id="python" ></td>
            <td><label for="python">python</label></td>
            <td><input type="radio" name="python" disabled class="bmepy" id="begginer_py" value="begginer"></td>
            <td><label for="begginer_py">Begginer</label></td>
            <td><input type="radio"  name="python" disabled class="bmepy" id="medeator_py" value="mediator"></td>
            <td><label for="mediator_py">Mideator</label></td>
            <td><input type="radio" name="python" disabled class="bmepy" id="expert_py" value="expert"></td>
            <td><label for="expert_py">Expert</label></td>
        </tr>
        <tr>
            <td><input type="text" name="tid" id="tidjv" hidden ></td>
            <td><input type="checkbox" name="technologies[]" value="java" id="java"></td>
            <td><label for="java">java</label></td>
            <td><input type="radio" name="java" disabled class="bmejv" id="begginer_java" value="begginer"></td>
            <td><label for="begginer_java">Begginer</label></td>
            <td><input type="radio" name="java" disabled class="bmejv" id="mediator_java" value="mediator"></td>
            <td><label for="mediator_java">Mideator</label></td>
            <td><input type="radio" name="java" disabled class="bmejv" id="expert_java" value="expert"></td>
            <td><label for="expert_java">Expert</label></td>
        </tr>
    
    </table>
</fieldset>