<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        body{
            background-color: #d0ecf4;
            margin: 0 auto;
        }
        .menus:nth-child(2n){
            background-color: rgb(34, 236, 88);
        }
        .menus:nth-child(2n + 1){
            background-color: rgb(106, 181, 245);
        }
        .menus{
            margin: 0 auto;
            display: flex;
            padding: 10px;
            width: 700px;
        }
        .menus a{
            padding: 5px;   
            text-align: center;
            text-decoration: none;
            color:rgb(49, 43, 235);
            font-size: large;
            font-weight: bold;
        }
        .menus p{
            padding: 5px;
            color: white;
        }
        #main{  
            margin: 0 auto;
            width: 900px;
            text-align: center;
        }
        .menus a:hover{
            color: rgb(92, 47, 230);
        }

        #logouta{
            padding: 5px;
            text-align: center;
            text-decoration: none;
            color:white;
            font-weight: bold;
        }
        #logout{
            background-color: black;
            padding: 7px;
            border-radius: 7px;
        }
        #logoutbtn{
            margin: 0 auto;
            width: 70px;
        }
        #tables{
            width: 910px;
            font-weight: bold;
        }
        a{
            text-decoration: none;
            color: blue;
        }
   
        tr:nth-child(2n){
            background-color: aqua;
        }
        tr:nth-child(2n + 1){
            background-color: rgb(255, 196, 164);
        }
        th{
            padding: 15px;
            font-weight: bold;
            background-color: rgb(73, 225, 73);
        }
    </style>
</head>
<body>
    <div id="main">
        <h1>Home</h1>
        
        
        <div id="logoutbtn">
            <a id="logouta" href="http://localhost:8080/logout"> <p id="logout">Logout</p></a>
        </div>
        
        <table id="tables">

        <thead>
            <th>Work Done Name</th>
            <th>Select To Navigate</th>
        </thead>
        <tr>
            <td>
                <p>Dynamic Tables</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/dynamic">Dynamic Table</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Events Table Tables</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/events">Events Table</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>KukuCube</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/kukucube">KUKU Cube</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tick Tac Toe</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/tickTacToe">Tick-Tack-Toe</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Delimeter Search</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/delimetersearch">Delimeter Search</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Dynamic Gried</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/dynamicgrid/1">Dynamic Gried</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Wireframe Ajax</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/wireframeajax">Wire Frame AJAX</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Wireframe CRUD</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/wireframecrud">Wire Frame CRUD</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Student URL</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/studentURL/fname/asc/1">studentURL</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Student Attendance</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/studentresult/1/12">student Attendance</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Student Result</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/studentresult/result?pid=1">student result detailed</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>TimeZones</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/timezone">Timezones</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Dynamic Component</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/component/?comp=state&submit=Submit">Dynamic Component</a></p>
            </td>
        </tr>

        <tr>
            <td>
                <p>Front End Pagination</p>
            </td>
            <td>
                <p><a href="http://localhost:8080/frontendpagination">Front End Pagination</a></p>
            </td>
        </tr>
    </table>
    </div>
</body>
</html>